<!DOCTYPE html>
<html>

<head>
  <title>Payment Status</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
  <link rel="stylesheet" href="../css/status.css">

</head>

<body>
  <main class="page payment-page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <button type="button" class="btn btn-primary">Go back!</button>
      </a>
    </nav>
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>Payment Status</h2>
        </div>

        <form>
          <div class="products">
            <div class="total">Status: {{status}}<span></span></div>
            <div class="total">Status Detail: {{status_detail}}<span></span></div>
            <div class="total">Payment ID: {{id}}<span></span></div>
            <div class="total">date created: {{date_created}}<span></span></div>
            <div class="total">amount: {{amount}}<span></span></div>
            <div class="total">Installments: {{installments}}<span></span></div>
            <div class="total">Payment Method ID: {{payment_method_id}}<span></span></div>
            <div class="total"><span></span></div>
          </div>
        </form>
      </div>
    </section>
  </main>
</body>
</body>

</html>